In [ ]:
import pandas as pd

#Read CSV file
data=pd.read_csv("Students_data.csv")

print("Original Data")
print(data)

#Clean data
#Fill missing marks with average marks
avg_mark=data["Marks"].mean()
data["Marks"]=data["Marks"].fillna(avg_mark)

#Rename column
data=data.rename(columns={"Marks":"Total_Marks"})

print("\nCleaned data")
print(data)

#Analysis
average=round(data["Total_Marks"].mean(),2)
highest=data["Total_Marks"].max()
lowest=data["Total_Marks"].min()

topper=data.loc[data["Total_Marks"].idxmax()]

print("\n---Analysis---")
print("Average Marks:",average)
print("Highest Marks:",highest)
print("Lowest Marks:",lowest)

print("Topper Details")
print("Topper_Marks:",topper["Total_Marks"])
print("Topper_Name:",topper["Name"])
print("Topper_Age:",topper["Age"])

#Save cleaned data to new CSV
data.to_csv("Cleaned_students_data.csv",index=False)

print("\nCleaned data saved as Cleaned_students_data.csv")

Original Data
       Name  Marks  Age
0       Anu    NaN   12
1     Suraj   79.0   14
2      Hari    NaN   13
3  Karthick   45.0   12
4     Sudha  100.0   13
5     Divya   99.0   12

Cleaned data
       Name  Total_Marks  Age
0       Anu        80.75   12
1     Suraj        79.00   14
2      Hari        80.75   13
3  Karthick        45.00   12
4     Sudha       100.00   13
5     Divya        99.00   12

---Analysis---
Average Marks: 80.75
Highest Marks: 100.0
Lowest Marks: 45.0
Topper Details
Topper_Marks: 100.0
Topper_Name: Sudha
Topper_Age: 13

Cleaned data saved as Cleaned_students_data.csv

* Cleaned a student dataset (Name, Marks, Age) and filled missing values.

* Renamed columns for clarity and Calculated average, highest, and lowest marks.

* Indentified the topper and saved the cleaned data to a new CSV file.

* Demonstrates basic Python data cleaning, analysis, and CSV handling using pandas.